.header.second-plane
    h1.main-title 
      span Oscar 
      span Palencia
    div 
      span eR&eacute;sum&eacute;
.header.first-plane
    div I'm
    h1.main-title 
      span Oscar 
      span Palencia
    div 
      span and I'm 
      span.header-flip(style="margin-left:0.4em;") Software Development