section
  h1 About me

  .box.compact

    p I'm a very passionate developer who is defined by perseverence and self-development. My answer to "Can it be done?" is always "Yes!", may take some time and resources but I believe that a solution can always be found and I strive in coming up with one, design it, create it and implement it.

    p I've worked on different projects, most relevant include a Payroll system and Instant Messaging tool (no long-polling) in addition to several front-end and back-end scripts, plugins, services, ETL tasks, etc.

    p Most of the skills in my toolkit I have acquired by stepping out of my comfort and knowledge zones. I enjoy being challenged and being tasked with projects that require me to learn new languages and techniques as these very often prove to be essential to the sucess of the project and your company.

    p Being the multi-talented guy that I am, I've found Workforce Management to be another passion. Once I got into the WFM department I was able to be quickly promoted and in less than 2 years I was in charge of several teams across the company.

    p Overall I'm an honest, fun guy who enjoys solving problems, green tea and biscuits.

