section
  h1 Path
  .box.compact
    p I am a Software developer with almost 5 years of experience. I specialize in Web development, mostly on PHP but I've had the change to work with .NET and JAVA as well. Laravel is currently my to-go Framework.

    p Prior to this I operated as a Busines Analyst which allowed me to gather experience in the project management area. It required from me to acquire elicitation, coordination and conciliation skills in order to ensure business requirements were being correctly identified and proper solutions developed.

    p What really introduced me to the software development area was the time I spent in Workforce Management. I lead WFM teams of several programs and additionally created VBA scripting solutions for them. What inspired me to take on  software development was the fact that though these solutions I was able to reduce task times from hours to mere minutes.

    p So, long story short. I got into the whole software deal because I was able to get a glimpse of the type of amazing things I could do with it. Instead of spending hours doing something manually I could write a script and take care of painfully repetitive tasks in minutes. It was impressive.

    figure
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1357379/horizontal%20vertical%20expertise.jpg" alt="problem solving horizontal figure")
      figcaption Problem solving horizontal crossing different work areas
