section
  h1 Contact me
  .box.compact
    .columns.text-center
      .column
        .box.bordered.no-padding
          .rows
            .row
              .box.background-dark.no-margin
                i.material-icons.xxl.text-accent  email
            .row
              p
                a(href="mailto:aozikuma@gmail.com") aozikuma@gmail.com
      
      .column
        .box.bordered.no-padding
          .rows
            .row
              .box.background-dark.no-margin
                i.material-icons.xxl.text-accent work
            .row
              p
                a(href="https://www.linkedin.com/in/oscarpalencia/") LinkedIn

section
  h1 Codepen
  .box.compact
    .columns.text-center
      .column
        .box.bordered.no-padding
          .rows
            .row
              .box.background-dark.no-margin
                i.material-icons.xxl.md-48.text-accent  code
            .row
              p
                a(href="//codepen.io/ozwild") Codepen
