section
  h1 Portfolio
  .box.compact

    p I mostly code in PHP but because of corporate security matters I'm not able to share any code produced while I worked for my previous employer, however I created I created some javascript pieces for different purposes. I'm sharing them below through CodePen.

    p Additionally, in case you're wondering. Yes!, I made this site on my own. I intentionally made it flashier than usual in order to showcase the coding. If you're interested I've made it available through github 
      a(href="https://github.com/ozwild/resume") here

section
  h2 Samples
  .box.compact
    .carousel
      article
        <p data-height="465" data-theme-id="light" data-slug-hash="eeORLe" data-default-tab="css,result" data-user="ozwild" data-embed-version="2" data-pen-title="Idle Animation" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozwild/pen/eeORLe/">Idle Animation</a> by ozwild (<a href="https://codepen.io/ozwild">@ozwild</a>) on <a href="https://codepen.io">CodePen</a>.</p>
      article
        <p data-height="465" data-theme-id="light" data-slug-hash="oojyBO" data-default-tab="js,result" data-user="ozwild" data-embed-version="2" data-pen-title="JS Calculator (in progress)" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozwild/pen/oojyBO/">JS Calculator (in progress)</a> by ozwild (<a href="https://codepen.io/ozwild">@ozwild</a>) on <a href="https://codepen.io">CodePen</a>.</p>
      article
        <p data-height="465" data-theme-id="light" data-slug-hash="wPGYEK" data-default-tab="js,result" data-user="ozwild" data-embed-version="2" data-pen-title="Pomodoro (In progress)" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozwild/pen/wPGYEK/">Pomodoro (In progress)</a> by ozwild (<a href="https://codepen.io/ozwild">@ozwild</a>) on <a href="https://codepen.io">CodePen</a>.</p>
      article
        <p data-height="465" data-theme-id="light" data-slug-hash="24640d4bebabb62e5a10f285f2bae381" data-default-tab="result" data-user="ozwild" data-embed-version="2" data-pen-title="d3 time data control (in progress)" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozwild/pen/24640d4bebabb62e5a10f285f2bae381/">d3 time data control (in progress)</a> by ozwild (<a href="https://codepen.io/ozwild">@ozwild</a>) on <a href="https://codepen.io">CodePen</a>.</p>
