section
  h1 Achievements
  
  .box.compact
  
    p Most of my work is propietary an as such I'm not in the liberty of freely sharing it. 
    p Having said that, I've been able to personally design, code and implement various projects such as:
    
    .columns.text-center.text-middle
      .column
        .box.bordered.no-padding
          .rows
            .row
              .box.background-accent.no-margin
                i.material-icons.xxl.text-light  attach_money
            .row
              p a corporate payroll system
      .column
        .box.bordered.no-padding
          .rows
            .row
              .box.background-accent.no-margin
                i.material-icons.xxl.text-light  chat_bubble
            .row
              p a custom instant messaging application
      .column
        .box.bordered.no-padding
          .rows
            .row
              .box.background-accent.no-margin
                i.material-icons.xxl.text-light  games
            .row
              p a gamification framework
    .columns.text-center.text-middle
      .column
        .box.bordered.no-padding
          .rows
            .row
              .box.background-accent.no-margin
                i.material-icons.xxl.text-light  card_giftcard
            .row
              p an employee rewards system
      .column
        .box.bordered.no-padding
          .rows
            .row
              .box.background-accent.no-margin
                i.material-icons.xxl.text-light  access_time
            .row
              p a scheduling and attendance system


section
  h1 CodePen Samples
  .box.compact
    p I have additionally created some javascript pieces that I'm able to share. These are hosted on my #[a(href="https://codepen.io/ozwild") CodePen page]. 
    p And in case you wonder, #[b() Yes!] I created this site myself. I intentionally made it flashier than usual in order to showcase the coding though. 
    p If you're interested, I've made this available through github #[a(href="https://github.com/ozwild/resume") here]
    .carousel
      article
        <p data-height="465" data-theme-id="light" data-slug-hash="eeORLe" data-default-tab="css,result" data-user="ozwild" data-embed-version="2" data-pen-title="Idle Animation" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozwild/pen/eeORLe/">Idle Animation</a> by ozwild (<a href="https://codepen.io/ozwild">@ozwild</a>) on <a href="https://codepen.io">CodePen</a>.</p>
      article
        <p data-height="465" data-theme-id="light" data-slug-hash="oojyBO" data-default-tab="js,result" data-user="ozwild" data-embed-version="2" data-pen-title="JS Calculator (in progress)" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozwild/pen/oojyBO/">JS Calculator (in progress)</a> by ozwild (<a href="https://codepen.io/ozwild">@ozwild</a>) on <a href="https://codepen.io">CodePen</a>.</p>
      article
        <p data-height="465" data-theme-id="light" data-slug-hash="wPGYEK" data-default-tab="js,result" data-user="ozwild" data-embed-version="2" data-pen-title="Pomodoro (In progress)" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozwild/pen/wPGYEK/">Pomodoro (In progress)</a> by ozwild (<a href="https://codepen.io/ozwild">@ozwild</a>) on <a href="https://codepen.io">CodePen</a>.</p>
      article
        <p data-height="465" data-theme-id="light" data-slug-hash="24640d4bebabb62e5a10f285f2bae381" data-default-tab="result" data-user="ozwild" data-embed-version="2" data-pen-title="d3 time data control (in progress)" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/ozwild/pen/24640d4bebabb62e5a10f285f2bae381/">d3 time data control (in progress)</a> by ozwild (<a href="https://codepen.io/ozwild">@ozwild</a>) on <a href="https://codepen.io">CodePen</a>.</p>
