section
  p.text-end
    a(
    href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1357379/Resume%20-%20Oscar%20Palencia.pdf",
    download) Download PDF version
    
section
  h1 Traits
  .box.compact
    .columns.open.mb-2
      .column.background-tertiary.text-dark
        .box.compact
          ul
            li Honest
            li Detail Oriented
            li Thorough
      .column.background-accent.diluted-background.text-light
        .box.compact
          ul
            li Creative
            li Passionate
            li Critical
      .column.background-secondary.text-light
        .box.compact
          ul
            li Quick Learner
            li Curious
            li Problem Solver
    

section
  h1 Employment History
  .box.compact
    h3.alt [24]7 ai
    .columns
      .column April-2007 &#8212; November-2017
      .column Senior Software Engineer
    p Started as a Customer Service Agent, moved up in the workforce department up to the role of Workforce Supervisor. Switched to the Compliance Security and Project Management department as a specialist to then be relocated in the Information Systems team as a Business Analyst to then finally spend 4 years as Senior Software Engineer

section
  h1 Educational Background

  .box.compact
    .rows
      .row
        h3.alt USAC
        .columns
          .column 2005, 2010, 2013
          .column Ingenieria en Sistemas
        p Unfinished college due schedule conflicts and funding. I started on 2005 but only made it to second year as I had to drop out to be able to work full time. I resumed on 2010 and 2013 but schedule was still restrictive.
      .row
        h3.alt UDEO
        .columns
          .column 2017
          .column Ingenieria en Sistemas
        p I started from scratch in this institution since they offered weekend courses but I had to pause it after the second trimester due to funding. I plan on resuming on 2018.
        
      .row  
        h3.alt Online Courses
        p Given that I wasn't able to attend college for the most part of these years but since I'm a very curious, rapid learner, avid reader and do-it-yourself guy, I found a suitable substitute to formal education on the internet. Online courses, help forums, development networks, education sites, etc. 

        p I started with VBA scripting on sites like #[a(href="http://www.ozgrid.com/") ozgrid] and then quickly dived deeper with #[a(href="https://msdn.microsoft.com/en-us/") MSDN]. It didn't take long to switch from super specific VBA to a little more open-purpose C# and .NET to then land on PHP land (#[a(href="http://php.net/") PHP.net], #[a(href="https://www.w3schools.com/php/") W3CSchools], etc). 

        p One thing lead to another and then I was in. #[a(href="https://stackoverflow.com/") Stack overflow] introduced me to so many concepts, ideas, principles and practices. By the time I realized just how much I had learned I was already a Senior Engineer.

        p Some additional sites I have learned from:
        .box.compact.text-center.text-middle
          .columns.open
            .column.background-dark.diluted-background
              p
                a(href="https://www.pluralsight.com/") Pluralsight
            .column.background-dark.diluted-background
              p 
                a(href="www.codeschool.com") Codeschool
            .column.background-dark.diluted-background
              p
                a(href="https://www.freecodecamp.org/") FreeCodeCamp
            .column.background-dark.diluted-background
              p
                a(href="https://developer.mozilla.org/en-US/") Mozilla Development Network
