section
  .columns.bordered.padded
    .column.bordered.text-light.background-secondary.diluted-background
      h1 Software Skills
      .box.compact
        ul
          li
            h3.alt Languages
            ul
              li PHP (5.6, 7), Laravel
              li JavaScript(ES6), jQuery, D3js
              li HTML(5), Pug/Jade, Blade
              li CSS(3), Stylus, Bootstrap
          li 
            h3.alt Databases
            ul
              li SQL, MySQL (MariaDB)
              li Stored Procedures
          li 
            h3.alt OS
            ul 
              li Linux (RedHat, CentOS, Ubuntu)
              li Windows
          li 
            h3.alt Servers
            ul
              li Apache
              li IIS7
          li 
            h3.alt Versioning systems
            ul
              li SVN
              li Git
          li 
            h3.alt Other
            ul
              li VB, VBA Scripting
              li Regular Expressions
              li WebServices (SOAP, REST)
              li ETL (Extract, Transform, Load) on Pentaho
    .column.text-secondary.diluted-text
      h1 Soft Skills
      .box.compact
        ul
          li
            h3.alt Management
            ul
              li Agile Methodology
              li Coaching & Mentoring
              li Delegation
              li Elicitation & Interviewing
              li Negotiation
              li Planning & Strategy
              li Problem Solving
              li Relationship building
              li Team Development
          li
            h3.alt Documentation
            ul
              li Business Cases
              li Software Specification
              li Use Cases
              li Timelines (Gantts)
              li etc
          li 
            h3.alt Data (Business Intelligence)
            ul
              li Analysis
              li Automation
              li Crunching
              li Integration


