@import './components/_backgrounds'
@import './components/_header'
@import './components/_nav'
@import './components/_content_notes'
@import './components/_picture_reel'
@import './components/_code_rain'
@import './components/_carousel'
     
