title Oscar Palencia's Resume

meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

meta(name="description" content="Oscar Palencia is a web developer with background in data analysis and integration of systems")
meta(name="robots", content="index, nofollow")

link(href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1357379/949885bd6e2a7ec7104b24671e70f228.ico.png", rel="shortcut icon", type="image/x-icon")
link(href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1357379/949885bd6e2a7ec7104b24671e70f228.ico.png", rel="icon", type="image/x-icon")

link(href="dist/css/index.css", rel="stylesheet")

link(href="https://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
