section
  h1 About me

  .box.compact

    p I'm a very passionate developer, defined by perseverance and a growth drive. My answer to "Can it be done?" is always "Yes! If we have the resources, then we just gotta do it".

    p My experience involves a wide variety of projects, most engineered from scratch. No matter what the problem is, a solution can be at hand.

    p New skills in my toolkit are always acquired by embracing challenges and stepping out of my comfort zone. 

    p In a nutshell, I'm an honest, hard working guy who enjoys solving problems, music, and helping others.

