section
  h1 Path
  .box.compact
    p I am a Full Stack Software Developer with 8+ years of experience. 
    
    p I specialize in Web development, React and Laravel are my areas of expertise. I also have experience working with .NET and Angular as well.

    p Prior to this, I worked as a Busines Analyst where I also gathered experience in the project management area. 

    p My very first professional steps were in the BPO industry, namely in the Workforce Management area. I the department holding the WFM Supervisor, which required me to manage several dedicated teams across different organizations.

    p Additionally to my main development stacks, I've gathered lots of experience on several services and technologies, such as AWS, Twilio, Typescript, and GraphQL among others.
    
   
