    
section
  h1 Download
  .box.compact
    .rows
      .row
        p Download the latest PDF version 
          a(href="https://docs.google.com/document/d/1nCUbMUWnZK2VgqrFQei3VSqB9-bl1tfuR0PLhqF5DX4/export?format=pdf") here
