section
  .columns.bordered.padded
    .column.bordered.text-light.background-secondary.diluted-background
      h1 Technologies and Languages
      .box.compact
        ul
          li
            ul
              li PHP (^7.4), Laravel 8, React, Node, TS, ES11(2020)
              li Blade, Pug/Jad
              li CSS3, Stylus, Scss/Sass
              li Grunt, Webpack, Mix
              li MySQL, PostgreSQL 
              li Ubuntu, WSL, Apache, Nginx
              li REST, GraphQL
              li MS VBA, Twilio, OpenTok
              li Travis
              li AWS: EC2, S3, Beanstalk, CloudFront, Dynamo, Lightsail, Others...
          
    .column.text-secondary.diluted-text
      h1 Other Skills
      .box.compact
        ul
          li
            ul
              li SCRUM & Agile
              li Team Management
              li Business Analysis, Business Intelligence
              li Industries: BPO, Music
              li Process Documentation
          


