
@font-face {
  font-family 'Matrix'
  src url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1357379/matrix.otf")
}

$textFont = Lato, sans-serif
$titleFont = 'Pacifico', cursive

$headerMainFont = Lato, sans-serif
$headerAccentfont =   Lato, sans-serif

$codeRainFont = 'Matrix',Monospace
