.material-icons
  font-size 18px
  &.lg
    font-size 24px
  &.xl
    font-size 36px
  &.xxl
    font-size 48px
  &.text-dark.inactive
    color rgba(0,0,0,0.26)
  &.text-light.inactive
    color rgba(255,255,255,0.3)
