nav
    a.burger
      span
      span
      span
    a.caller.text-light.bg-dark(href='#',data-target='a') About
    a.caller.text-light.bg-dark(href='#',data-target='x') R&eacute;sum&eacute;
    a.caller.text-light.bg-dark(href='#',data-target='b') Skills
    a.caller.text-light.bg-dark(href='#',data-target='c') Career
    a.caller.text-light.bg-dark(href='#',data-target='e') Portfolio
    a.caller.text-light.bg-dark(href='#',data-target='d') Contact